<section>

  <h1>About Me</h1>

  <p>I am a developer of software.  Presently, I develop software for
  the web with Ruby on Rails and always with Test-Driven
  Development.</p>

  <p>Previously, I was an academic.  I wrote a dissertation on
  Functional Programming in a High-Performance Computing context.  I
  taught students at liberal-arts colleges which shifting my research
  to Test-Driven Development and Agile Software Development.</p>

  <p>And I apparently love Title Case.</p>

</section>
